@import url(https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,700,700i);



h2 {
    font-size: 1.8rem;
    margin-top: 2.75rem;
}

.article-container {
    max-width: 960px;
}

.docs-article-container {
    max-width: 960px;
}

#hero img {
    max-width: 60%;
}

.hero-title {
    line-height: 1.2;
    font-weight: 700;
}

.icon-list {
    list-style: none;
    text-indent: -0.7rem;
    padding-left: 1.4rem;
}

.contact-policy {
    font-size: 0.8rem;
    line-height: 1.5;
}

.due-date {
    margin-bottom: 2.5rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    text-align: left;
    font-size: 100%;
}

.course-info {
    font-size: 0.9rem;
}

.credits {
    font-size: 0.7rem;
}

.course-info p, .credits p {
    margin-bottom: 0.3rem;
}

.centered-table table {
    margin: 0 auto 1rem;
}

.article-style #TOC:before {
    content: "Contents";
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    background-color: #ddd;
    padding: 5px 10px 0px;
    margin-bottom: 1.1rem;
}

.article-style #TOC {
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    background: #f2f2f2;
    padding: 8px 8px;
    margin: 4px 0 2rem;
}

.article-style #TOC ul {
    padding-left: 2em;
}

.footnotes {
    font-size: 0.8rem;
    line-height: 1.3;
}

.fake-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40;
}

.fake-header-table, td.mid-table-header {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.fake-header-table {
    font-size: 1.1rem;
}

td.mid-table-header {
    text-align: center;
    vertical-align: middle !important;
}

.article-style .slide-thumb {
    margin-top: 0;
}

/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-pink {
  font-weight: 600;
  color: #e64173 !important;
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
.hi-orange {
  font-weight: 600;
  color: #FFAC0F !important;
}
.hi-yellow{
  font-weight: 600;
  color: #D8BD44 !important;
}
.hi-green {
  font-weight: 600;
  color: #7CAE96 !important;
}
.hi-grey {
  font-weight: 600;
  color: #8AA19E !important;
}
.hi-blue {
  font-weight: 800;
  color: #3C93DC !important;
}
.hi-red {
  font-weight: 800;
  color: #ff0000 !important;
}
/* Pink text */
.pink {
  color: #e64173 !important;
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
.yellow{
  color: #D8BD44 !important;
}
.green {
  color: #7CAE96 !important;
}
.grey {
  color: #8AA19E !important;
}
.blue {
  color: #3C93DC !important;
}
.red {
  color: #fb6107 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
.grey-light {
  color: #d2d2d2 !important;
}
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

.bw {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.gw {
  background-color: #d2d2d2;
  color: #ffffff;
}

/* Mono-spaced font */
.mono {
  font-family: monospace;
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ol {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Bold */
.b {
  font-weight: bold;
}
/* Italic */
.it {
  font-style: italic;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.clear .remark-slide-number {
  display: none;
}
.inverse .remark-slide-number {
  display: none;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}
.huge{
  font-size: 150%;
}

.small {
  font-size: 95%;
}
.smaller {
  font-size: 85%;
}
.smallest {
  font-size: 75%;
}

.tiny {
  font-size: 50%;
}

.remark-slide-content {
  font-family: "Lato", sans-serif;
  border-top: 70px solid #192439;
  color: #192439;
  background-color: #FFFFFF;
  font-size: 32px;
  font-weight: 355;
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: #192439;
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: #eeeeee;
  border-top: 0px solid #ffffff;
}

.footnote {
  bottom: 1em;
  font-size: 80%;
  color: #7f7f7f;
}

/* Turn off slide numbers */
.remark-slide-number {
  /* display: none; */
}

.dark-slide {
  background-color: #23373B;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.mjx-chtml{
  font-size: 103% !important;
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: monospace;
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 103% !important;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
  line-height: 1%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
  line-height: 1%;
}

.remark-code {
  font-size: 58%;
}

.inverse > h2 {
  color: #e64173;
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  margin-top: -25px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: rgba(249, 38, 114, 0.75);
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
}

.remark-inline-code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

/* 2/3 left; 1/3 right */
.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}

/* 9/10 left; 1/10 right */
.left90 {
  padding-top: 0.7em;
  float: left;
  width: 85%;
}
.right10 {
  padding-top: 0.7em;
  float: right;
  width: 9%;
}

/* 95% left; 5% right */
.left95 {
  padding-top: 0.7em;
  float: left;
  width: 91%;
}
.right05 {
  padding-top: 0.7em;
  float: right;
  width: 5%;
}

.left5 {
  padding-top: 0.7em;
  margin-left: 0em;
  margin-right: -0.4em;
  float: left;
  width: 7%;
}
.left10 {
  padding-top: 0.7em;
  margin-left: -0.2em;
  margin-right: -0.5em;
  float: left;
  width: 10%;
}
.left30 {
  padding-top: 0.7em;
  float: left;
  width: 30%;
}
.right30 {
  padding-top: 0.7em;
  float: right;
  width: 30%;
}

.thin-left {
  padding-top: 0.7em;
  margin-left: -1em;
  margin-right: -0.5em;
  float: left;
  width: 27.5%;
}

/* Format tables */
table {
  color: #000000;
  font-size: 14pt;
  line-height: 100%;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}
th, td {
  background-color: #eeeeee;
}
table th {
  font-weight: 400;
}


/* Extra left padding */
.pad-left {
  margin-left: 5%;
}

/* Extra left padding */
.big-left {
  margin-left: 15%;
  margin-bottom: -0.4em;
}

/* Attention */
.attn {
  font-weight: 500;
  color: #e64173 !important;
  font-family: 'Zilla Slab' !important;
}

/* Note */
.note {
  font-weight: 300;
  font-style: italic;
  color: #314f4f !important;
  /* color: #cccccc !important; */
  font-family: 'Zilla Slab' !important;
}

/* Question and answer */
.qa {
  font-weight: 500;
  /* color: #314f4f !important; */
  color: #e64173 !important;
  font-family: 'Zilla Slab' !important;
}

/* Example */
.ex {
  font-weight: 300;
  color: #555555 !important;
  font-style: italic;
}

.col-left {
  float: left;
  width: 47%;
  margin-top: -1em;
}
.col-right {
  float: right;
  width: 47%;
  margin-top: -1em;
}

.clear-up {
  clear: both;
  margin-top: -1em;
}

/* Remove orange line */
hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #e5e5e5;
  color: #e5e5e5;
  height: 1px;
}
